# Physical areas of memory
# Names need not match, but it makes it easier to remember if they do.
MEMORY {
 RAM0:  start = $0000, size = $2000;
 RAM1:  start = $2001, size = $CFFE;
 RAM2:  start = $10000, size = $FF00;
 RAM3:  start = $20000, size = $FF00;
 RAM4:  start = $30000, size = $FF00;
 RAM5:  start = $40000, size = $FF00;
 RAM6:  start = $50000, size = $FF00;
 RAM7:  start = $60000, size = $FF00;
 RAM8:  start = $70000, size = $FF00;
}

# Logical areas code/data can be put into.
SEGMENTS {
    CODE:       load = RAM1,         align = $2001;
    RODATA2:    load = RAM2, align = $100, optional=yes;
    RODATA3:    load = RAM3, align = $100, optional=yes;
    RODATA4:    load = RAM4, align = $100, optional=yes;
    RODATA5:    load = RAM5, align = $100, optional=yes;
    RODATA6:    load = RAM6, align = $100, optional=yes;
    RODATA7:    load = RAM7, align = $100, optional=yes;
    RODATA8:    load = RAM8, align = $100, optional=yes;
}
