name: win32-msvc

on:
  push:
    tags:
      - '**'

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - uses: microsoft/setup-msbuild@v1
      - uses: jurplel/install-qt-action@v2
        with:
          version: '6.0.1'
          tools: 'tools_ifw,4,qt.tools.ifw.40 tools_qtcreator,4,qt.tools.qtcreator'

      - name: Build TRSE
        shell: cmd
        run: |
          call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Auxiliary\Build\vcvarsall.bat" x86_amd64
          qmake TRSE.pro
          D:\a\TRSE\Qt\Tools\QtCreator\bin\jom.exe -j 2 -f Makefile.Release

      # We do not reuse Publish/publish_win/PublishWindows.cmd because copying the libs & plugins is easier with bash
      - name: Build zip
        shell: bash
        run: |
          mkdir Publish/publish_win/trse
          cd Publish/publish_win/trse
          cp ../../../release/trse.exe .
          # Copy themes, tutorials, project_templates and units
          cp -r ../../source/* .
          cp -r ../../tutorials .
          cp -r ../../project_templates .
          cp -r ../../../units .
          echo "Copy all required plugins"
          # qt_lib_dir must be retrieved before copying the DLLs as after that, all the DLLs are resolved locally
          qt_lib_dir=$(ldd trse.exe | awk '{ print $3 }' | grep "/Qt/" | sed 's,/Qt/.*,/Qt/,' | head -n 1)
          echo "qt_lib_dir: '${qt_lib_dir}'"
          # The file is converted to dos format at checkout, we don't want the carriage returns.
          dos2unix ../plugins.txt
          while read plugin
          do
            echo "  Looking for '${plugin}'"
            lib=$(find "${qt_lib_dir}" | grep "${plugin}" | head -n 1 || echo "")
            if [ -z "${lib}" ]
            then
              echo "  - ${lib} NOT FOUND"
            else
              echo "  - ${lib} (${plugin})"
              mkdir -p $(dirname "${plugin}")
              cp "${lib}" "${plugin}"
              echo "    All its dependencies:"
              ldd "${lib}"
              echo "    Non ignored:"
              grep --help
              ldd "${lib}" | grep -v -i -F -f ../ignore_dlls.txt || echo "ldd | grep failed"
              echo "    Cleaned list:"
              ldd "${lib}" | grep -v -i -F -f ../ignore_dlls.txt | awk '{ print $3 }' || echo "ldd | grep | awk failed"
              echo "    Copying its dependencies:"
              ldd "${lib}" | grep -v -i -F -f ../ignore_dlls.txt | awk '{ print $3 }' | sort -u || echo "ldd | grep | awk | sort failed"
              ldd "${lib}" | grep -v -i -F -f ../ignore_dlls.txt | awk '{ print $3 }' | sort -u | xargs -I _ bash -c 'cp _ ./ || echo "failed to copy _"' || echo "ldd | grep | awk | sort | xargs bash failed"
            fi
          done < ../plugins.txt
          echo "Copy all required libs"
          ldd trse.exe | grep -v -i -F -f ../ignore_dlls.txt | awk '{ print $3 }' | sort -u || echo "ldd | grep | awk | sort failed"
          ldd trse.exe | grep -v -i -F -f ../ignore_dlls.txt | awk '{ print $3 }' | sort -u | xargs -I _ bash -c 'cp _ ./ || echo "failed to copy _"' || echo "ldd | grep | awk | sort | xargs bashfailed"
          # This find | rm shouldn't be needed once the mechanism to ignore undesired DLLs works
          echo "Remove DLLs that shouldn't be included: "
          cat ../ignore_dlls.txt
          find . || echo "find failed"
          find . | grep -f ../ignore_dlls.txt || echo "find | grep failed"
          find . | grep -f ../ignore_dlls.txt | xargs rm || echo "find | grep | xargs failed"
          cd ..
          7z a trse_win.zip trse

      - name: Publish zip
        uses: ColinPitrat/update-release@master
        with:
          release: nightly
          message: Nightly build
          body: The latest automated nightly build of TRSE which succeeded. This is the recommended version to use.
          files: Publish/publish_win/trse_win.zip
          prerelease: false
          token: ${{ secrets.GITHUB_TOKEN }}
